@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #00bfff;
  --color-secondary: #1f8fff;

  --color-dark-primary: #272725;
  --color-dark-secondary: #10b981;

  --color-texto-primary: #344257;
  --color-texto-secondary: #f7fafc;

  --color-selected: #e6f2ff;
  --color-dark-selected: #004080;
  --color-texto-selected: #99ccff;

  --color-background: #f7fafc;
  --color-dark-background: #1f2a38;

  --color-background-secondary: #ffffff;
  --color-dark-background-secondary: #243040;

  --shadow-glow-blue: 0 0 20px hsl(210 100% 56% / 0.4);
  --shadow-glow-green: 0 0 20px hsl(150 100% 40% / 0.4);
}

@layer base {
  body {
    font-family: "Lexend", sans-serif;
  }
  /* utility to force GPU compositing which often removes hairline seams */
  /*correção de BUG que aparecem linhas diagonais aleatórias em páginas*/
  .force-composite {
    transform: translateZ(0);
    backface-visibility: hidden;
    will-change: transform;
  }
}
